# ===========================
# Database
# ===========================
ConnectionStrings__Clinic=Server=

# ===========================
# JWT
# ===========================
Jwt__Key=

# ===========================
# Email
# ===========================
EmailSettings__Email=
EmailSettings__Password=

# ===========================
# Cloudinary
# ===========================
CloudinarySettings__ApiKey=
CloudinarySettings__ApiSecret=

# ===========================
# Google
# ===========================
Authentication__Google__ClientId=
Authentication__Google__ClientSecret=

# ===========================
# Facebook
# ===========================
Authentication__Facebook__AppId=
Authentication__Facebook__AppSecret=
