# Ignore appsettings

appsettings.Development.json
Clinic/Firebase/clinic-firebase.json
# Or any environment configs
appsettings.*.json


bin/
obj/
.vs/
*.user
*.suo
Clinic/Firebase/clinic-firebase.json

# Environment Variables
.env
.env.*

!.env.example


# Firebase
Clinic/Firebase/


